<!-- <div id="sidebar-nav" class="sidebar">
    <nav>
        <ul class="nav" id="sidebar-nav-menu">
            <li class="menu-group">Main</li>
            <li class="panel">
                <a href="/create" data-parent="#sidebar-nav-menu"
                    class="{% if request.path == '/create' %}active{% endif %}">
                    <i class="ti-home"></i>
                    <span class="title">Create View</span>
                </a>
            </li>
            <li class="panel">
                <a href="/detail" data-parent="#sidebar-nav-menu"
                    class="{% if request.path == '/detail' %}active{% endif %}">
                    <i class="ti-dashboard"></i>
                    <span class="title">Detail View</span>
                </a>
            </li>
        </ul>
        <button type="button" class="btn-toggle-minified" title="Toggle Minified Menu">
            <i class="ti-arrows-horizontal"></i>
        </button>
    </nav>
</div> -->