<nav class="navbar navbar-default navbar-fixed-top">
    <!-- logo start -->
    <div class="brand">
        <a href="/">
            <img src="/static/img/logo-white.png" alt="Klorofil Pro Logo" class="img-responsive logo" />
        </a>
    </div>
    <!-- logo end -->
    <div class="container-fluid">
        <!-- mobile toggle button start -->
        <div id="tour-fullwidth" class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth">
                <i class="ti-arrow-circle-left"></i>
            </button>
        </div>
        <!-- mobile toggle button end -->
        <!-- search start -->
        <form class="navbar-form navbar-left search-form">
            <input type="text" value="" class="form-control" placeholder="Search dashboard..." />
            <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <!-- search end -->
        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <!-- icon 1 start -->
                <li>
                    <a href="#" class="btn-toggle-rightsidebar">
                        <i class="ti-layout-sidebar-right"></i>
                    </a>
                </li>
                <!-- icon 1 end -->

                <!-- icon 2 start -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <span class="badge bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li>You have 1 new notifications</li>
                        <li>
                            <a href="#" class="notification-item">
                                <i class="fa fa-check custom-bg-green"></i>
                                <p>
                                    <span class="text">Your request has been approved</span>
                                    <span class="timestamp">3 days ago</span>
                                </p>
                            </a>
                        </li>
                        <li><a href="#" class="more">See all notifications</a></li>
                    </ul>
                </li>
                <!-- icon 2 end -->

                <!-- icon 3 start -->
                <li class="dropdown">
                    <a href="#" id="tour-help" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-help"></i>
                        <span class="hide">Help</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="ti-direction"></i> Basic Use</a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-server"></i> Working With Data</a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-lock"></i> Security</a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-light-bulb"></i> Troubleshooting</a>
                        </li>
                    </ul>
                </li>
                <!-- icon 3 end -->

                <!-- icon 4 start -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/static/img/user.png" alt="Avatar" />
                        <span>Forms</span>
                    </a>
                    <ul class="dropdown-menu logged-user-menu">
                        <li>
                            <a href="#"><i class="ti-user"></i> <span>My Profile</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-email"></i> <span>Message</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-settings"></i> <span>Settings</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="ti-power-off"></i> <span>Logout</span></a>
                        </li>
                    </ul>
                </li>
                <!-- icon 4 end -->
            </ul>
        </div>
    </div>
</nav>