<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Static Tables | Klorofil Pro - Bootstrap Admin Dashboard Template
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/vendor/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/static/vendor/pace/themes/orange/pace-theme-minimal.css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/vendor/toastr/toastr.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/skins/sidebar-nav-darkgray.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/skins/navbar3.css" type="text/css" />
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png" />
    <style>
        /* override the inputs css */
        input {
            border: none;
            background: transparent;
        }
    </style>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- NAVBAR -->
        {% include 'includes/topnav.html' %}
        <!-- END NAVBAR -->

        <!-- LEFT SIDEBAR -->
        {% include 'includes/sidebar.html' %}
        <!-- END LEFT SIDEBAR -->

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">

                <!-- heading start -->
                <div class="content-heading clearfix">
                    <div class="heading-left">
                        <h1 class="page-title">Detail View</h1>
                        <p class="page-subtitle">Simple tables based on Bootstrap.</p>
                    </div>
                    <ul class="breadcrumb">
                        <li>Home</li>
                        <li class="active">Detail View</li>
                    </ul>
                </div>
                <!-- heading end -->

                <!-- select the date -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select Date To Display</h3>
                    </div>
                    <div class="panel-body">

                        <!-- error messages -->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <form method="POST" action="/detail">
                            <label>Date Of Entry</label>
                            <br>
                            {% if date %}
                            <input required name="selected_date" data-provide="datepicker" data-date-autoclose="true"
                                class="form-control" data-date-format="yyyy-mm-dd" value="{{ date }}">
                            {% else %}
                            <input required name="selected_date" data-provide="datepicker" data-date-autoclose="true"
                                class="form-control" data-date-format="yyyy-mm-dd">
                            {% endif %}
                            <br>
                            <button class="btn btn-primary" name="sumbit_date">submit</button>
                        </form>
                    </div>
                </div>

                {% include 'main_tables/table1.html' %}
                {% include 'main_tables/table2.html' %}
                {% include 'main_tables/table3.html' %}

            </div>
        </div>
        <!-- END MAIN CONTENT -->

        <!-- RIGHT SIDEBAR -->
        {% include 'includes/dummy_sidebar.html' %}
        <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    {% include 'includes/footer.html' %}
    </div>
    <!-- END WRAPPER -->

    <!-- Javascript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/pace/pace.min.js"></script>
    <script src="/static/scripts/klorofilpro-common.js"></script>
    <script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/vendor/toastr/toastr.min.js"></script>
    <!-- ajax scripts -->
    <script>
        $("#submit1").remove();
        $("#submit2").remove();
        $("#submit3").remove();
    </script>

</body>

</html>