<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Form 3</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form action="." method="post" id="form3">
                <table class="table table-striped">
                    <thead>
                        <!--row 1-->
                        <tr>
                            <th colspan="2">PAINTING UNIT II</th>
                            <th colspan="2">Cell Name</th>
                            <th colspan="4"></th>
                            <th colspan="9">TEAM LEADERS 'TO DO' LIST AND SHIFT 'PDCA'</th>
                            <th colspan="3">DATE/ SHIFT</th>
                            <th colspan="3"></th>
                        </tr>
                        <!--row 2-->
                        <tr>
                            <th colspan="2">Team Leader's Activities</th>
                            <th colspan="1">Status</th>
                            <th colspan="1" rowspan="3">Hour</th>
                            <th colspan="19">
                                CRITICAL PERFORMANCE PARAMETERS FOR THE SHIFT
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--row 3-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Read Log , collect info. & Review opening stock
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">{{form3.checkbox_1}}</td>

                            <th colspan="8">CONVEYOR UTILISATION</th>
                            <th colspan="1" rowspan="2">Hour</th>
                            <th colspan="2" rowspan="2">no of customer complaint</th>
                            <th colspan="8" rowspan="1">customer commplaint</th>

                        </tr>
                        <!--row 4-->
                        <tr>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>
                            <th colspan="1">SD</th>
                            <th colspan="1">Dust</th>

                            <th colspan="1">RD</th>
                            <th colspan="1">UC</th>
                            <th colspan="1">d/s</th>
                            <th colspan="1">Spitt</th>
                            <th colspan="1">Others</th>
                            <th colspan="1">action</th>
                        </tr>
                        <!--row 5-->
                        <tr>
                            <th colspan="2">
                                Verify loading plan and parts availability
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_2}}</td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.actual_1}}</td>
                            <td colspan="3">{{form3.t3r_1}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_1a}}</td>
                            <td colspan="1">{{form3.customercomplaint_1b}}</td>
                            <td colspan="1">{{form3.sd_1}}</td>
                            <td colspan="1">{{form3.dust_1}}</td>
                            <td colspan="1">{{form3.rd_1}}</td>
                            <td colspan="1">{{form3.uc_1}}</td>
                            <td colspan="1">{{form3.ds_1 }}</td>
                            <td colspan="1">{{form3.spitt_1 }}</td>
                            <td colspan="1">{{form3.others_1 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row 6-->
                        <!--row 7-->
                        <tr>
                            <th colspan="2">
                                Conduct surise meeting with team members
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_3}}</td>
                            <td colspan="1">2</td>
                            <td colspan="1">{{form3.actual_2}}</td>
                            <td colspan="3">{{form3.t3r_2}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_2a}}</td>
                            <td colspan="1">{{form3.customercomplaint_2b}}</td>
                            <td colspan="1">{{form3.sd_2}}</td>
                            <td colspan="1">{{form3.dust_2}}</td>
                            <td colspan="1">{{form3.rd_2}}</td>
                            <td colspan="1">{{form3.uc_2}}</td>
                            <td colspan="1">{{form3.ds_2 }}</td>
                            <td colspan="1">{{form3.spitt_2}}</td>
                            <td colspan="1">{{form3.others_2 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Check manpower absentism status
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_4}}</td>
                            <td colspan="1">3</td>
                            <td colspan="1">{{form3.actual_3}}</td>
                            <td colspan="3">{{form3.t3r_3}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_3a}}</td>
                            <td colspan="1">{{form3.customercomplaint_3b}}</td>
                            <td colspan="1">{{form3.sd_3}}</td>
                            <td colspan="1">{{form3.dust_3}}</td>
                            <td colspan="1">{{form3.rd_3}}</td>
                            <td colspan="1">{{form3.uc_3}}</td>
                            <td colspan="1">{{form3.ds_3 }}</td>
                            <td colspan="1">{{form3.spitt_3}}</td>
                            <td colspan="1">{{form3.others_3 }}</td>
                            <td>
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Deploy manpower as per skill matrix / update atte
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_5}}</td>
                            <td colspan="1">4</td>
                            <td colspan="1">{{form3.actual_4}}</td>
                            <td colspan="3">{{form3.t3r_4}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_4a}}</td>
                            <td colspan="1">{{form3.customercomplaint_4b}}</td>
                            <td colspan="1">{{form3.sd_4}}</td>
                            <td colspan="1">{{form3.dust_4}}</td>
                            <td colspan="1">{{form3.rd_4}}</td>
                            <td colspan="1">{{form3.uc_4}}</td>
                            <td colspan="1">{{form3.ds_4 }}</td>
                            <td colspan="1">{{form3.spitt_4}}</td>
                            <td colspan="1">{{form3.others_4 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit first hour output and PDCA
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_6}}</td>
                            <td colspan="1">5</td>
                            <td colspan="1">{{form3.actual_5}}</td>
                            <td colspan="3">{{form3.t3r_5}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_5a}}</td>
                            <td colspan="1">{{form3.customercomplaint_5b}}</td>
                            <td colspan="1">{{form3.sd_5}}</td>
                            <td colspan="1">{{form3.dust_5}}</td>
                            <td colspan="1">{{form3.rd_5}}</td>
                            <td colspan="1">{{form3.uc_5}}</td>
                            <td colspan="1">{{form3.ds_5 }}</td>
                            <td colspan="1">{{form3.spitt_5}}</td>
                            <td colspan="1">{{form3.others_5 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit JH check sheet and sign
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_7}}</td>
                            <td colspan="1">6</td>
                            <td colspan="1">{{form3.actual_6}}</td>
                            <td colspan="3">{{form3.t3r_6}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_6a}}</td>
                            <td colspan="1">{{form3.customercomplaint_6b}}</td>
                            <td colspan="1">{{form3.sd_6}}</td>
                            <td colspan="1">{{form3.dust_6}}</td>
                            <td colspan="1">{{form3.rd_6}}</td>
                            <td colspan="1">{{form3.uc_6}}</td>
                            <td colspan="1">{{form3.ds_6 }}</td>
                            <td colspan="1">{{form3.spitt_6}}</td>
                            <td colspan="1">{{form3.others_6 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Attend Daily Paint shop PDCA meeting
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_8}}</td>
                            <td colspan="1">7</td>
                            <td colspan="1">{{form3.actual_7}}</td>
                            <td colspan="3">{{form3.t3r_7}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_7a}}</td>
                            <td colspan="1">{{form3.customercomplaint_7b}}</td>
                            <td colspan="1">{{form3.sd_7}}</td>
                            <td colspan="1">{{form3.dust_7}}</td>
                            <td colspan="1">{{form3.rd_7}}</td>
                            <td colspan="1">{{form3.uc_7}}</td>
                            <td colspan="1">{{form3.ds_7 }}</td>
                            <td colspan="1">{{form3.spitt_7}}</td>
                            <td colspan="1">{{form3.others_7 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit Operator check sheet and sign
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_9}}</td>
                            <td colspan="1">8</td>
                            <td colspan="1">{{form3.actual_8}}</td>
                            <td colspan="3">{{form3.t3r_8}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_8a}}</td>
                            <td colspan="1">{{form3.customercomplaint_8b}}</td>
                            <td colspan="1">{{form3.sd_8}}</td>
                            <td colspan="1">{{form3.dust_8}}</td>
                            <td colspan="1">{{form3.rd_8}}</td>
                            <td colspan="1">{{form3.uc_8}}</td>
                            <td colspan="1">{{form3.ds_8 }}</td>
                            <td colspan="1">{{form3.spitt_8}}</td>
                            <td colspan="1">{{form3.others_8 }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Achieve production plan thru hourly PDCA
                            </th>
                            <td colspan="1" class="text-center">{{form3.checkbox_10}}</td>
                            <td colspan="1">total</td>
                            <td colspan="1">{{form3.actual_total}}</td>
                            <td colspan="3">{{form3.t3r_total}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.customercomplaint_totala}}</td>
                            <td colspan="1">{{form3.customercomplaint_totalb}}</td>
                            <td colspan="1">{{form3.sd_total}}</td>
                            <td colspan="1">{{form3.dust_total}}</td>
                            <td colspan="1">{{form3.rd_total}}</td>
                            <td colspan="1">{{form3.uc_total}}</td>
                            <td colspan="1">{{form3.ds_total }}</td>
                            <td colspan="1">{{form3.spitt_total}}</td>
                            <td colspan="1">{{form3.others_total }}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row 23-->
                        <tr>
                            <th colspan="2" rowspan="2">Conduct 2S audit in all stages</th>
                            <td colspan="1" rowspan="2" class="text-center">{{form3.checkbox_11}}</td>
                            <th colspan="3">ABSENTISM</th>
                            <th colspan="3">SAFETY</th>
                            <th colspan="6">BREAKDOWN DETAILS</th>
                            <th colspan="8">SHORTAGE COMMUNICATION</th>
                        </tr>
                        <!--row 24-->
                        <tr>
                            <th colspan="1">PLAN</th>
                            <th colspan="1">REG</th>
                            <th colspan="1">CL</th>
                            <th colspan="1">PLAN</th>
                            <th colspan="1">F.AID</th>
                            <th colspan="1">N.MISS</th>
                            <td colspan="6" rowspan="2">{{form3.breakdowndetails}}</td>
                            <td colspan="8" rowspan="2">{{form3.shortcommunication}}</td>
                        </tr>
                        <!--row 25-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Conduct MH audit at loading & unloading
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">{{form3.checkbox_12}}</td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form3.cl}}</td>
                            <td colspan="1">{{form3.reg}}</td>
                            <td colspan="1">{{form3.plan}}</td>
                            <td colspan="1">{{form3.faid}}</td>
                            <td colspan="1">{{form3.nmiss}}</td>
                        </tr>
                        <!--row 26-->
                        <tr>
                            <th colspan="4" rowspan="2">
                                SHIFT CLOSING VERIFICATION
                            </th>
                            <th colspan="8">STAND UP MEETING POINTS</th>
                            <th colspan="8">FEED BACK FROM REPORTING GROUP LEADER</th>
                        </tr>
                        <!--row 27-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Review & Monitor parts return from next customer
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">{{form3.checkbox_13}}</td>

                            <th colspan="1" rowspan="2">P</th>
                            <td colspan="7" rowspan="2">{{form3.standup_p }}</td>
                            <td colspan="8" rowspan="5">{{form3.feedback }}</td>
                        </tr>
                        <!--row 28-->
                        <tr>
                            <th colspan="3">CHECK POINT</th>
                            <th colspan="1">STATUS</th>
                        </tr>
                        <!--row 29-->
                        <tr>
                            <th colspan="2">Do shift PDCA along with GL.,</th>
                            <td colspan="1" class="text-center">{{form3.checkbox_14}}</td>
                            <th colspan="3">Material availability for opening plan</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">Q</th>

                            <td colspan="7">{{form3.standup_q }}</td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">Update VCS,</th>
                            <td colspan="1" class="text-center">{{form3.checkbox_15}}</td>
                            <th colspan="3">Mixed Paint availability</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">C</th>

                            <td colspan="7">{{form3.standup_c }}</td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">Next day plan discussion with GL,</th>
                            <td colspan="1" class="text-center">{{form3.checkbox_16}}</td>
                            <th colspan="3">Masked parts availabilty for plan</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">D</th>

                            <td colspan="7">{{form3.standup_d }}</td>
                        </tr>
                        <!--row-->

                        <tr>
                            <th colspan="2">
                                Total 'To Do' list check Plan
                            </th>
                            <th colspan="1">
                                {{form3.to_do_list_check_plan}}
                            </th>
                            <th colspan="3">No excess storage of trolleys and bins</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">M</th>
                            <td colspan="7">{{form3.standup_m }}</td>
                            <th colspan="3">Team leader signature</th>
                            <td colspan="5">{{form3.teamleadersign }}</td>
                            </td>
                        </tr>
                        <!--row-->

                        <tr>
                            <th colspan="2">
                                Actually done
                            </th>
                            <th colspan="1">
                                {{form3.actually_Done}}
                            </th>
                            <th colspan="3">PPE Availability</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">S</th>
                            <td colspan="7">{{form3.standup_s }}</td>
                            <th colspan="3">Group leader signature</th>
                            <td colspan="5">{{form3.groupleadersign }}</td>
                            </td>
                        </tr>
                    </tbody>
                </table>

                {{form3.csrf_token }}
                <input id="submit3" type="submit" />

            </form>
        </div>
    </div>
</div>