<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Form 2</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form action="." method="POST" id="form2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!--row 1-->
                            <th colspan="3">PAINTING UNIT II</th>
                            <th colspan="15">GROUP LEADERS 'TO DO' LIST AND SHIFT 'PDCA'</th>
                            <th colspan="3">DATE/ SHIFT</th>
                            <th colspan="4">-</th>
                        </tr>
                        <!--row 2-->
                        <tr>
                            <th colspan="2">Group Leader Activities</th>
                            <th colspan="1">Status</th>
                            <th colspan="1">Cell</th>
                            <th colspan="17">CRITICAL PERFORMANCE FOR THE SHIFT</th>
                            <th colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--row 3-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Read Log , collect info. & Review opening stock
                            </th>
                            <th colspan="1">Status</th>
                            <th colspan="1">Cell</th>
                            <th colspan="8">FIRST HOUR OUTPUT</th>
                            <th colspan="9">LINE STOPPER</th>
                            <th colspan="4">team leader's 'to-do adherence'</th>
                        </tr>
                        <!--row 4-->
                        <tr>
                            <th colspan="1">Status</th>
                            <th colspan="1">Cell</th>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top Reasons</th>
                            <th colspan="3">Action</th>
                            <th colspan="1">Line</th>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>
                            <th colspan="4">-</th>
                        </tr>
                        <!--row 5-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Check T/L absentism & Review opening status with T/L
                            </th>
                            <th colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_1}}
                            </th>
                            <th colspan="1" rowspan="12">Spray line2</th>

                            <td colspan="1" rowspan="2">{{form2.firstHourOutput_plan_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.firstHourOutput_actual_1}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.firstHourOutput_top3reasons_1}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.firstHourOutput_action_1}}</td>
                            <th colspan="1" rowspan="4">ckd</th>
                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_1}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_1}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_1}}</td>

                            <th colspan="3">NAME</th>
                            <th colspan="1">P/A</th>

                            <!--row 6-->
                        </tr>

                        <tr>
                            <td rowspan="2" colspan="3">{{form2.teamleader_name_1}}</td>
                            <td rowspan="2" colspan="1">{{form2.teamleader_pa_1}}</td>
                        </tr>

                        <!--row 7-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Update Production report and attend Production meeting
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_2}}
                            </td>
                            <td>{{form2.firstHourOutput_plan_2}}</td>
                            <td>{{form2.firstHourOutput_actual_2}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.firstHourOutput_top3reasons_2}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.firstHourOutput_action_2}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_2}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_2}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_2}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_2}}</td>
                        </tr>
                        <!--row 8-->
                        <tr>
                            <td>{{form2.firstHourOutput_plan_3}}</td>
                            <td>{{form2.firstHourOutput_actual_3}}</td>
                            <td rowspan="2" colspan="3">{{form2.teamleader_name_2}}</td>
                            <td rowspan="2" colspan="1">{{form2.teamleader_pa_2}}</td>
                        </tr>
                        <!--row 9-->
                        <tr>
                            <th colspan="2" rowspan="2">Review First Hour Output</th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_3}}
                            </td>
                            <th colspan="8">CONVEYOR UTILISATION</th>
                            <th colspan="1" rowspan="4">K0X& U69</th>
                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_3}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_3}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_3}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_3}}</td>
                        </tr>
                        <!--row 10-->
                        <tr>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>

                            <td colspan="3" rowspan="2">{{form2.teamleader_name_3}}</td>
                            <td colspan="1" rowspan="2">{{form2.teamleader_pa_3}}</td>
                        </tr>
                        <!--row 11-->

                        <tr>
                            <th colspan="2" rowspan="2">
                                Audit JH check sheet of at any one stage
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_4}}
                            </td>
                            <td colspan="1" rowspan="2">{{form2.conveyor_plan_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.conveyor_actual_1}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_top3reasons_1}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_action_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_4}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_4}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_4}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_4}}</td>
                        </tr>

                        <!--row 12-->
                        <tr>
                            <th colspan="1" rowspan="2">Cell</th>
                            <th colspan="1" rowspan="2">Absentism</th>
                            <th colspan="2" rowspan="2">SAFETY INCIDENT</th>
                        </tr>
                        <!--row 13-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Audit Operator check sheet (any one cell)
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_5}}
                            </td>
                            <td colspan="1">{{form2.conveyor_plan_2}}</td>
                            <td colspan="1">{{form2.conveyor_actual_2}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_top3reasons_2}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_action_2}}</td>
                            <td colspan="1" rowspan="4">Vehicle2</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_5}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_5}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_5}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_5}}</td>
                        </tr>
                        <!--row 14-->
                        <tr>
                            <td colspan="1">{{form2.conveyor_plan_3}}</td>
                            <td colspan="1">{{form2.conveyor_actual_3}}</td>
                            <th colspan="1" rowspan="3">k-series</th>
                            <td colspan="1" rowspan="3">{{form2.absent1}}</td>
                            <td colspan="2" rowspan="3">{{form2.safe1}}</td>
                        </tr>
                        <!--row 15-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Attend Prodn. meeting at veh., assy & CKD
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_6}}
                            </td>
                            <td colspan="1">{{form2.conveyor_plan_4}}</td>
                            <td colspan="1">{{form2.conveyor_actual_4}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_top3reasons_3}}</td>
                            <td colspan="3" rowspan="2">{{form2.conveyor_action_3}}</td>

                            <td colspan="1" rowspan="2">{{form2.linestopper_plan_6}}</td>
                            <td colspan="1" rowspan="2">{{form2.linestopper_actual_6}}</td>
                            <td colspan="3" rowspan="2">
                                {{form2.linestopper_top3reasons_6}}
                            </td>
                            <td colspan="3" rowspan="2">{{form2.linestopper_action_6}}</td>
                        </tr>
                        <!--row 16-->
                        <tr>
                            <td colspan="1">{{form2.conveyor_plan_5}}</td>
                            <td colspan="1">{{form2.conveyor_actual_5}}</td>
                        </tr>
                        <!--row 17-->
                        <tr>
                            <th colspan="2" rowspan="3">
                                Attend daily PDCA meeting of plastic line
                            </th>
                            <td colspan="1" rowspan="3" class="text-center">
                                {{form2.checkbox_7}}
                            </td>
                            <td colspan="1">-</td>
                            <th colspan="8">REWORK</th>
                            <td colspan="1">-</td>
                            <th colspan="8">CUSTOMER COMPLAINTS</th>
                            <td colspan="1" rowspan="2">Prism</td>
                            <td colspan="1" rowspan="2">{{form2.absent2}}</td>
                            <td colspan="2" rowspan="2">{{form2.safe2}}</td>
                        </tr>
                        <!--row 18-->
                        <tr>
                            <th colspan="1">Cell</th>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>
                            <th colspan="1">Line</th>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>
                        </tr>
                        <!--row 19-->
                        <tr>
                            <th colspan="1" rowspan="6">Spray line 2</th>
                            <td colspan="1" rowspan="2">{{form2.rework_plan_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.rework_actual_1}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_top3reasons_1}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_action_1}}</td>
                            <td colspan="1" rowspan="3">CKD</td>
                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_plan_1}}
                            </td>
                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_actual_1}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_1a}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_1b}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_1c}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_1a}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_1b}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_1c}}
                            </td>
                            <td colspan="1" rowspan="2">Line2</td>
                            <td colspan="1" rowspan="2">{{form2.absent3}}</td>
                            <td colspan="2" rowspan="2">{{form2.safe3}}</td>
                        </tr>

                        <!--row 20-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                2S audit (any one stage) & feed back to respective TL
                            </th>
                            <th colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_8}}
                            </th>
                        </tr>

                        <!--row 21 correct-->
                        <tr>
                            <td colspan="1">{{form2.rework_plan_2}}</td>
                            <td colspan="1">{{form2.rework_actual_2}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_top3reasons_2}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_action_2}}</td>
                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_2a}}
                            </td>
                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_2b}}
                            </td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_2c}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_2a}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_2b}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_2c}}</td>
                            <th colspan="4">OPENING STOCK DETAILS</th>
                        </tr>

                        <!--row 22 -->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Review R.T parts status and accumulation
                            </th>
                            <td colspan="1" class="text-center" rowspan="2">
                                {{form2.checkbox_9}}
                            </td>
                            <td colspan="1">{{form2.rework_plan_3}}</td>
                            <td colspan="1">{{form2.rework_actual_3}}</td>
                            <th colspan="1" rowspan="3">Vehicle1</th>
                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_plan_2}}
                            </td>
                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_actual_2}}
                            </td>

                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_3a}}
                            </td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_3b}}</td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_3c}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_3a}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_3b}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_3c}}</td>
                            <td colspan="1" rowspan="2">#</td>
                            <td colspan="1" rowspan="2">Con300</td>
                            <td colspan="1" rowspan="2">Con400</td>
                            <td colspan="1" rowspan="2">Con600</td>
                        </tr>
                        <!--row 23 correct-->
                        <tr>
                            <td colspan="1">{{form2.rework_plan_4}}</td>
                            <td colspan="1">{{form2.rework_actual_4}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_top3reasons_3}}</td>
                            <td colspan="3" rowspan="2">{{form2.rework_action_3}}</td>
                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_4a}}
                            </td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_4b}}</td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_4c}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_4a}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_4b}}</td>
                            <td>{{form2.customercomplaints_action_4c}}</td>
                        </tr>
                        <!--row 24-->

                        <tr>
                            <th colspan="2" rowspan="2">
                                Do Shift PDCA and review TL hourly PDCA book
                            </th>
                            <td colspan="1" rowspan="2" class="text-center">
                                {{form2.checkbox_10}}
                            </td>
                            <td colspan="1">{{form2.rework_plan_5}}</td>
                            <td colspan="1">{{form2.rework_actual_5}}</td>
                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_5a}}
                            </td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_5b}}</td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_5c}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_5a}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_5b}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_5c}}</td>
                            <td colspan="1" rowspan="2">W/Assy</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con300_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con400_1}}</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con600_1}}</td>
                        </tr>

                        <!--row 25 correct-->
                        <tr>
                            <td colspan="9">REWORK PARTS STATUS</td>
                            <td colspan="1" rowspan="3">Vehicle2</td>

                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_plan_3}}
                            </td>
                            <td colspan="1" rowspan="3">
                                {{form2.customercomplaints_actual_3}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_6a}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_6b}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_top3reasons_6c}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_6a}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_6b}}
                            </td>
                            <td colspan="1" rowspan="2">
                                {{form2.customercomplaints_action_6c}}
                            </td>
                        </tr>

                        <!--row 26 -->
                        <tr>
                            <th colspan="2" rowspan="2">Total 'To Do' list check Plan</th>
                            <td colspan="1" rowspan="2">PP</td>
                            <th colspan="1" rowspan="5">Spray line 2</th>
                            <th colspan="2">Model</th>
                            <th colspan="1">Plan</th>
                            <th colspan="2">Sanded</th>
                            <th colspan="2">W/Sanding</th>
                            <th colspan="1">Scrap</th>
                            <td colspan="1" rowspan="2">W/stickering</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con300_2}}</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con400_2}}</td>
                            <td colspan="1" rowspan="2">{{form2.stock_con600_2}}</td>
                        </tr>

                        <!--row 27-->
                        <tr>
                            <th colspan="2" rowspan="2">All Model</th>
                            <td colspan="1" rowspan="2">{{form2.reworkpart_plan_1}}</td>
                            <td colspan="2">{{form2.reworkpart_sanded_1}}</td>
                            <td colspan="3">{{form2.reworkpart_scrap_1}}</td>
                            <td colspan="1">
                                {{form2.customercomplaints_top3reasons_7a}}
                            </td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_7b}}</td>
                            <td colspan="1">{{form2.customercomplaints_top3reasons_7c}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_7a}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_7b}}</td>
                            <td colspan="1">{{form2.customercomplaints_action_7c}}</td>
                        </tr>

                        <!--row 28-->
                        <tr>
                            <th colspan="2" rowspan="3">Actually done</th>
                            <td colspan="1" rowspan="3">{{form2.actuallydone_status}}</td>

                            <td colspan="1">{{form2.reworkpart_sanded_2a}}</td>
                            <td colspan="1">{{form2.reworkpart_sanded_2b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_2a}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_2b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_2c}}</td>

                            <th colspan="4">spare quantity</th>
                            <th colspan="5">breakdown details</th>
                            <td rowspan="3" colspan="1">u/p</td>
                            <td rowspan="3" colspan="1">{{form2.stock_con300_3}}</td>
                            <td rowspan="3" colspan="1">{{form2.stock_con400_3}}</td>
                            <td rowspan="3" colspan="1">{{form2.stock_con600_3}}</td>
                        </tr>

                        <!--row 29-->
                        <tr>
                            <th colspan="2" rowspan="2">U69& K-series</th>
                            <td colspan="1" rowspan="2">-</td>
                            <td colspan="1">{{form2.reworkpart_sanded_3a}}</td>
                            <td colspan="1">{{form2.reworkpart_sanded_3b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_3a}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_3b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_3c}}</td>

                            <th colspan="2">Plan</th>
                            <td colspan="2">{{form2.sparequantity_plan}}</td>
                            <td colspan="5" rowspan="2">{{form2.breakdown}}</td>
                        </tr>
                        <!--row 30 -->
                        <tr>
                            <td colspan="1">{{form2.reworkpart_sanded_4a}}</td>
                            <td colspan="1">{{form2.reworkpart_sanded_4b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_4a}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_4b}}</td>
                            <td colspan="1">{{form2.reworkpart_scrap_4c}}</td>
                            <th colspan="2">actual</th>
                            <td colspan="2">{{form2.sparequantity_actual}}</td>
                        </tr>
                        <!--row 31 correct-->
                        <tr>
                            <th colspan="1" rowspan="4">FEED BACK POINTS DURING REVIEW</th>
                            <th colspan="20" rowspan="4">
                                {{form2.feedback}}
                            </th>
                            <th colspan="4">Group Leader sign</th>
                        </tr>

                        <!--row 32-->
                        <tr>
                            <td colspan="4">{{form2.groupleadersign}}</td>
                        </tr>
                        <!--row 33-->
                        <tr>
                            <th colspan="4">Unit manager Sign</th>
                        </tr>
                        <!--row 34-->
                        <tr>
                            <td colspan="4">{{form2.unitmanagersign}}</td>
                        </tr>
                    </tbody>
                </table>

                {{ form2.csrf_token }}
                <input id="submit2" type="submit" />
            </form>
        </div>
    </div>
</div>