<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Form 1</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form method="POST" id="form1" action=".">
                <table class="table table-striped">
                    <thead>
                        <!--row 1-->
                        <tr>
                            <th colspan="2">PAINTING UNIT II</th>
                            <th colspan="2">Cell Name</th>
                            <th colspan="4"></th>
                            <th colspan="9">TEAM LEADERS 'TO DO' LIST AND SHIFT 'PDCA'</th>
                            <th colspan="3">DATE/ SHIFT</th>
                            <th colspan="3"></th>
                        </tr>
                        <!--row 2-->
                        <tr>
                            <th colspan="2">Team Leader's Activities</th>
                            <th colspan="1">Status</th>
                            <th colspan="1" rowspan="3">Hour</th>
                            <th colspan="19">
                                CRITICAL PERFORMANCE PARAMETERS FOR THE SHIFT
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--row 3-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Read Log , collect info. & Review opening stock
                            </th>
                            <td colspan="1" rowspan="2">{{form1.checkbox_1}}</td>

                            <th colspan="8">CONVEYOR UTILISATION</th>
                            <th colspan="1" rowspan="2">Hour</th>
                            <th colspan="1" rowspan="2">Unloaded</th>
                            <th colspan="1" rowspan="2">Ok</th>
                            <th colspan="1" rowspan="2">Rejected</th>
                            <th colspan="7">Rework</th>
                        </tr>
                        <!--row 4-->
                        <tr>
                            <th colspan="1">Plan</th>
                            <th colspan="1">Actual</th>
                            <th colspan="3">Top 3 Reasons</th>
                            <th colspan="3">Action</th>

                            <th colspan="1">Dust</th>
                            <th colspan="1">RD</th>
                            <th colspan="1">UC</th>
                            <th colspan="1">Dspray</th>
                            <th colspan="1">Spitt</th>
                            <th colspan="1">Others</th>
                            <th colspan="1">Action</th>
                        </tr>
                        <!--row 5-->
                        <tr>
                            <th colspan="2">
                                Verify loading plan and parts availability
                            </th>
                            <td colspan="1">{{form1.checkbox_2}}</td>
                            <td colspan="1">1</td>1
                            <td colspan="1" name="actual_1">
                                {{form1.actual_1}}
                            </td>
                            <!-- <td colspan="3">{{form1.t3r_1}}</td>  -->
                            <td colspan="3">{{records[0]}}</td>
                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{form1.unloaded_1}}</td>
                            <td colspan="1">{{form1.ok_1}}</td>
                            <td colspan="1">{{form1.rejected_1}}</td>
                            <td colspan="1">{{form1.dust_1}}</td>
                            <td colspan="1">{{form1.rd_1}}</td>
                            <td colspan="1">{{form1.uc_1}}</td>
                            <td colspan="1">{{form1.dspray_1}}</td>
                            <td colspan="1">{{form1.spitt_1}}</td>
                            <td colspan="1">{{form1.others_1}}</td>


                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row 6-->
                        <!--row 7-->
                        <tr>
                            <th colspan="2">
                                Conduct surise meeting with team members
                            </th>
                            <td colspan="1">{{form1.checkbox_3}}</td>
                            <td colspan="1">2</td>
                            <td colspan="1" name="actual_2">{{form1.actual_2}}</td>
                            <!-- <td colspan="3">{{form1.t3r_2}}</td> -->
                            <td colspan="3">{{records[1]}}</td>
                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">2</td>
                            <td colspan="1">{{form1.unloaded_2}}</td>
                            <td colspan="1">{{form1.ok_2}}</td>
                            <td colspan="1">{{form1.rejected_2}}</td>
                            <td colspan="1">{{form1.dust_2}}</td>
                            <td colspan="1">{{form1.rd_2}}</td>
                            <td colspan="1">{{form1.uc_2}}</td>
                            <td colspan="1">{{form1.dspray_2}}</td>
                            <td colspan="1">{{form1.spitt_2}}</td>
                            <td colspan="1">{{form1.others_2}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Check manpower absentism status
                            </th>
                            <td colspan="1">{{form1.checkbox_4}}</td>
                            <td colspan="1">3</td>
                            <td colspan="1" name="actual_3">{{form1.actual_3}}</td>
                            <!-- <td colspan="3">{{form1.t3r_3}}</td> -->
                            <td colspan="3">{{records[2]}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">3</td>
                            <td colspan="1">{{form1.unloaded_3}}</td>
                            <td colspan="1">{{form1.ok_3}}</td>
                            <td colspan="1">{{form1.rejected_3}}</td>
                            <td colspan="1">{{form1.dust_3}}</td>
                            <td colspan="1">{{form1.rd_3}}</td>
                            <td colspan="1">{{form1.uc_3}}</td>
                            <td colspan="1">{{form1.dspray_3}}</td>
                            <td colspan="1">{{form1.spitt_3}}</td>
                            <td colspan="1">{{form1.others_3}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Deploy manpower as per skill matrix / update atte
                            </th>
                            <td colspan="1">{{form1.checkbox_5}}</td>
                            <td colspan="1">4</td>
                            <td colspan="1" name="actual_4">{{form1.actual_4}}</td>
                            <td colspan="3">{{form1.t3r_4}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">4</td>
                            <td colspan="1">{{form1.unloaded_4}}</td>
                            <td colspan="1">{{form1.ok_4}}</td>
                            <td colspan="1">{{form1.rejected_4}}</td>
                            <td colspan="1">{{form1.dust_4}}</td>
                            <td colspan="1">{{form1.rd_4}}</td>
                            <td colspan="1">{{form1.uc_4}}</td>
                            <td colspan="1">{{form1.dspray_4}}</td>
                            <td colspan="1">{{form1.spitt_4}}</td>
                            <td colspan="1">{{form1.others_4}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit first hour output and PDCA
                            </th>
                            <td colspan="1">{{form1.checkbox_6}}</td>
                            <td colspan="1">5</td>
                            <td colspan="1" name="actual_5">{{form1.actual_5}}</td>
                            <td colspan="3">{{form1.t3r_5}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">5</td>
                            <td colspan="1">{{form1.unloaded_5}}</td>
                            <td colspan="1">{{form1.ok_5}}</td>
                            <td colspan="1">{{form1.rejected_5}}</td>
                            <td colspan="1">{{form1.dust_5}}</td>
                            <td colspan="1">{{form1.rd_5}}</td>
                            <td colspan="1">{{form1.uc_5}}</td>
                            <td colspan="1">{{form1.dspray_5}}</td>
                            <td colspan="1">{{form1.spitt_5}}</td>
                            <td colspan="1">{{form1.others_5}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit JH check sheet and sign
                            </th>
                            <td colspan="1">{{form1.checkbox_7}}</td>
                            <td colspan="1">6</td>
                            <td colspan="1">{{form1.actual_6}}</td>
                            <td colspan="3">{{form1.t3r_6}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">6</td>
                            <td colspan="1">{{form1.unloaded_6}}</td>
                            <td colspan="1">{{form1.ok_6}}</td>
                            <td colspan="1">{{form1.rejected_6}}</td>
                            <td colspan="1">{{form1.dust_6}}</td>
                            <td colspan="1">{{form1.rd_6}}</td>
                            <td colspan="1">{{form1.uc_6}}</td>
                            <td colspan="1">{{form1.dspray_6}}</td>
                            <td colspan="1">{{form1.spitt_6}}</td>
                            <td colspan="1">{{form1.others_6}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Attend Daily Paint shop PDCA meeting
                            </th>
                            <td colspan="1">{{form1.checkbox_8}}</td>
                            <td colspan="1">7</td>
                            <td colspan="1">{{form1.actual_7}}</td>
                            <td colspan="3">{{form1.t3r_7}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">7</td>
                            <td colspan="1">{{form1.unloaded_7}}</td>
                            <td colspan="1">{{form1.ok_7}}</td>
                            <td colspan="1">{{form1.rejected_7}}</td>
                            <td colspan="1">{{form1.dust_7}}</td>
                            <td colspan="1">{{form1.rd_7}}</td>
                            <td colspan="1">{{form1.uc_7}}</td>
                            <td colspan="1">{{form1.dspray_7}}</td>
                            <td colspan="1">{{form1.spitt_7}}</td>
                            <td colspan="1">{{form1.others_7}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Audit Operator check sheet and sign
                            </th>
                            <td colspan="1">{{form1.checkbox_9}}</td>
                            <td colspan="1">8</td>
                            <td colspan="1">{{form1.actual_8}}</td>
                            <td colspan="3">{{form1.t3r_8}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">8</td>
                            <td colspan="1">{{form1.unloaded_8}}</td>
                            <td colspan="1">{{form1.ok_8}}</td>
                            <td colspan="1">{{form1.rejected_8}}</td>
                            <td colspan="1">{{form1.dust_8}}</td>
                            <td colspan="1">{{form1.rd_8}}</td>
                            <td colspan="1">{{form1.uc_8}}</td>
                            <td colspan="1">{{form1.dspray_8}}</td>
                            <td colspan="1">{{form1.spitt_8}}</td>
                            <td colspan="1">{{form1.others_8}}</td>
                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">
                                Achieve production plan thru hourly PDCA
                            </th>
                            <td colspan="1">{{form1.checkbox_10}}</td>
                            <td colspan="1">total</td>
                            <td colspan="1">{{form1.actual_total}}</td>
                            <td colspan="3">{{form1.t3r_total}}</td>

                            <td colspan="3">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                            <td colspan="1">total</td>
                            <td colspan="1">{{form1.unloaded_total}}</td>
                            <td colspan="1">{{form1.ok_total}}</td>
                            <td colspan="1">{{form1.rejected_total}}</td>
                            <td colspan="1">{{form1.dust_total}}</td>
                            <td colspan="1">{{form1.rd_total}}</td>
                            <td colspan="1">{{form1.uc_total}}</td>
                            <td colspan="1">{{form1.dspray_total}}</td>
                            <td colspan="1">{{form1.spitt_total}}</td>
                            <td colspan="1">{{form1.others_total}}</td>

                            <td colspan="1">
                                <select>
                                    <option>1</option>
                                </select>
                            </td>
                        </tr>
                        <!--row 23-->
                        <tr>
                            <th colspan="2" rowspan="2">Conduct 2S audit in all stages</th>
                            <td colspan="1" rowspan="2">{{form1.checkbox_11}}</td>
                            <th colspan="3">ABSENTISM</th>
                            <th colspan="3">SAFETY</th>
                            <th colspan="6">BREAKDOWN DETAILS</th>
                            <th colspan="8">SHORTAGE COMMUNICATION</th>
                        </tr>
                        <!--row 24-->
                        <tr>
                            <th colspan="1">PLAN</th>
                            <th colspan="1">REG</th>
                            <th colspan="1">CL</th>
                            <th colspan="1">PLAN</th>
                            <th colspan="1">F.AID</th>
                            <th colspan="1">N.MISS</th>
                            <td colspan="6" rowspan="2">{{ form1.breakdowndetails }}</td>
                            <td colspan="8" rowspan="2">{{form1.shortcommunication}}</td>
                        </tr>
                        <!--row 25-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Conduct MH audit at loading & unloading
                            </th>
                            <td colspan="1" rowspan="2">{{form1.checkbox_12}}</td>
                            <td colspan="1">1</td>
                            <td colspan="1">{{ form1.reg }}</td>
                            <td colspan="1" name="cl">{{ form1.cl }}</td>
                            <td colspan="1" name="plan">{{ form1.plan }}</td>
                            <td colspan="1" name="faid">{{ form1.faid }}</td>
                            <td colspan="1" name="nmiss">{{ form1.nmiss }}</td>
                        </tr>
                        <!--row 26-->
                        <tr>
                            <th colspan="4" rowspan="2" rowspan="2">
                                SHIFT CLOSING VERIFICATION
                            </th>
                            <th colspan="8">STAND UP MEETING POINTS</th>
                            <th colspan="8">FEED BACK FROM REPORTING GROUP LEADER</th>
                        </tr>
                        <!--row 27-->
                        <tr>
                            <th colspan="2" rowspan="2">
                                Review & Monitor parts return from next customer
                            </th>
                            <td colspan="1" rowspan="2">{{form1.checkbox_13}}</td>

                            <th colspan="1" rowspan="2">P</th>
                            <td colspan="7" rowspan="2">{{form1.standup_p}}</td>
                            <td colspan="8" rowspan="5">{{form1.feedback}}</td>
                        </tr>
                        <!--row 28-->
                        <tr>
                            <th colspan="3">CHECK POINT</th>
                            <th colspan="1">STATUS</th>
                        </tr>
                        <!--row 29-->
                        <tr>
                            <th colspan="2">Do shift PDCA along with GL.,</th>
                            <td colspan="1">{{form1.checkbox_14}}</td>
                            <th colspan="3">Material availability for opening plan</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">Q</th>

                            <td colspan="7">{{form1.standup_q}}</td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">Update VCS,</th>
                            <td colspan="1">{{form1.checkbox_15}}</td>
                            <th colspan="3">Mixed Paint availability</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">C</th>

                            <td colspan="7">{{form1.standup_c}}</td>
                        </tr>
                        <!--row-->
                        <tr>
                            <th colspan="2">Next day plan discussion with GL,</th>
                            <td colspan="1">{{form1.checkbox_16}}</td>
                            <th colspan="3">Masked parts availabilty for plan</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">D</th>

                            <td colspan="7">{{form1.standup_d}}</td>
                        </tr>
                        <!--row-->

                        <tr>
                            <th colspan="2">
                                Total 'To Do' list check Plan
                            </th>
                            <th colspan="1">
                                {{form1.to_do_list_check_plan}}
                            </th>
                            <th colspan="3">No excess storage of trolleys and bins</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">M</th>
                            <td colspan="7">{{form1.standup_m}}</td>
                            <th colspan="3">Team leader signature</th>
                            <td colspan="5">{{form1.teamleadersign}}</td>
                            </td>
                        </tr>
                        <!--row-->

                        <tr>
                            <th colspan="2">
                                Actually done
                            </th>
                            <th colspan="1">
                                {{form1.actually_Done}}
                            </th>
                            <th colspan="3">PPE Availability</th>
                            <th colspan="1">OK / NOK</th>
                            <th colspan="1">S</th>
                            <td colspan="7">{{form1.standup_s}}</td>
                            <th colspan="3">Group leader signature</th>
                            <td colspan="5">{{form1.groupleadersign}}</td>
                            </td>
                        </tr>
                    </tbody>
                </table>

                {{ form1.csrf_token }}
                <input id="submit1" type="submit" />
            </form>
        </div>
    </div>
</div>